*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
 }
 body {
     font-family: 'Courier New', Courier, monospace;
     padding: 0 10px;
     box-sizing: border-box;
     background-color: rgb(189, 43, 226);
     height: 100vh;
  
 

 }
  
 .menu__container{
    width: 343px;
    height: 407px;
    margin-left :auto;
    margin-right :auto;
    margin-top : 20vh;
    margin-bottom :50px;
    border-radius :63px;
    cursor :pointer;
    box-shadow :0 10px 40px 2px rgba(0,0,0,0.4);
    background-color: blueviolet;
    
    transform-origin: center center 0px;
    transition :all .5s ease-out;
    animation-name : animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform :perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    z-index:1;
    
    
    


 }
 .menu__container:hover{
    animation :unset;
    margin-top:18vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
 }


 .menu{
     
    display: flex;
    justify-content:  flex-start;
    padding: 2rem;
    align-items: center;
    max-width :100%;
    height :100%;
    color :#fff;
    
 }
 .menu .submenu {
    margin-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid white;
    padding: 4px;
    box-shadow: 5px 2px 2px rgb(52, 51, 51);
   

}
 h1{
    color:  white;
    padding: 2px;
    margin-left: 0px;
    font-weight: unset;
 }
 h3{
    font-size:  2rem;
    padding: 1px;
 }
img {
    
     
    width:  57px;
    height: 57px;
    border-radius: 50%;
  
 
}
.p{
    padding: 2px;
}
.info {
    display: flex;
    
    justify-content: center;
    padding: 10px;
    font-size: 13px;
    margin-left: -5rem;
    flex-direction: column;
    color: white;
    margin-top: 7rem;
}
.skills{
     position: relative;
     left: -6rem;
     display: flex;
     justify-content: space-evenly;
     margin-top: 5px;
}
.skills img {
    width: 18%;
    padding: 8px;
    height: 10%;
    
   
}
 
 @keyframes animate{
    from {
        margin-top :20vh;
      }
    
      75% {
        margin-top: 18vh;
    
      }
    
      to {
        margin-top: 20vh;
      }
    };